body {
  background-color: cyan;
}

#contenidor {
  width: 800px;
  height: 600px;
  background-color: pink;
  margin: 0 auto;
}

#nav {
  height: 100px;
  background-color: pink;
}

.bolas:hover {
  opacity: 50%;
  transform: scale(1.5);
}

.bolas {
  width: 100px;
  height: 100px;
  background-color: green;
  float: left;
  border-radius: 50px;
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 100px;
}

#bola1 {
  background-color: purple;
  margin-left: 200px;
}

#bola2 {
  background-color: navy;
}

#bola3 {
  background-color: orange;
}

#bola4 {
  background-color: yellow;
}

#caixa1 {
  width: 400px;
  height: 400px;
  background-color: navy;
  float: left;

}

#caixa2 {
  width: 400px;
  height: 400px;
  background-color: orange;
  float: left;
}

.caixes {
  width: 400px;
  height: 400px;
  float: left;
  font-size: 75px;
  color: white;
  font-family: sans-serif;
}

#footer {
  height: 100px;
  width: 800px;
  background-color: yellow;
  float: left;
  font-family: fantasy;
}
